<div class="head">
  <div
    v-for="(item, index) in lists[inds]"
    :key="index"
    class="items"
  >
    {{ item.name }}
  </div>

  <ul
    class="pagination"
    v-if="lists.length > 1"
  >
    <li
      v-for="(item, index) in lists"
      :key="index"
      class="pagination__li"
      :class="{ active: index == inds }"
      v-on:click.prevent="page(index)"
    >
      {{ index + 1 }}
    </li>
  </ul>
</div>