.head
  border: 1px solid #000
  padding: 20px
  width: 920px
  margin: auto
  margin-bottom: 20px

.items
  border: 1px solid #000
  padding 20px

.pagination
  list-style: none
  padding: 0
  margin 20px 0 0
  display: flex
  &__li
    width 30px
    height 30px
    border: 1px solid #000
    text-align: center
    line-height: 30px
    cursor: pointer
    margin-left 10px
    &:first-child
      margin-left 0
    &.active
      background: #ccc