<template>
  <div class="home">
    <heads />
    <example />
  </div>
</template>

<script>
// @ is an alias to /src
import example from '@/components/example/index.vue'
import heads from '@/components/head/index.vue'

export default {
  name: 'Home',
  components: {
    example,
    heads
  } 
}
</script>
