body
  margin: 0
  padding: 20px

.examples
  border: 1px solid #000
  padding: 10px 20px
  width: 920px
  margin: auto
  display: flex
  flex-direction: column

.item
  border: 1px solid #000
  padding: 20px
  margin: 10px 0
  &__title
    font: bold 20px/1.3 Arial
    text-transform: capitalize
  &__body
    font: 16px/1.5 Arial
    padding-top: 10px
    color: rgba(0,0,0,.7)