<div class="examples">
  <div class="item" v-for="(item, index) in getPosts" :key="index">
    <div class="item__title">
      {{ item.title }}
    </div>
    <div class="item__body">
      {{ item.body }}
    </div>
  </div>
</div>